.count_back{
  background-color: #d1d183;
}

.count_h3{
  color: blue;
  text-transform: capitalize;
}
.counter{
  color: red;
}

.box{
  min-height: 100px;

  
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}
.back{
  background-color: red;
}

/*Curved Text*/
 
#text1
{
    margin:           3.0em 0.0em;
    overflow:         hidden;
    color:            #ffffff;
    background-color: #6610f2;
}


